@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/background_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    max-width: 788px;
    padding-top: 217px;
  }

  &__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    max-width: 481px;
    max-height: 64px;
    padding-top: 32px;
    padding-bottom: 44px;
  }

  &__text-bold {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
  }

  &__button {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    border-radius: 30px;
    background: #9C0332;
    height: 49px;
    width: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    text-decoration: none;
  }
}

.games {
  background-image: url(img/background_menu.jpg);
  height: 556px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-content: center;

  &__game {
    position: relative;
    display: inline-block;

    &-img {
      border-radius: 16px;
    }

    &-item {
      position: absolute;
      bottom: 32px;
      left: 32px;
      color: #FFF;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
  }
}